.obsidian
Sem_4/.obsidian/*
Sem_4/Attachment/*
Sem_4/Sem_3/*
Sem_4/Sem_4/Cloud_Computing/*
Sem_4/Sem_4/Data_Analytics/*
Sem_4/Sem_4/Fundamentals_of_Computer_Algorithms/*
Sem_4/Sem_4/Software_Engineering/*
Sem_4/template/*
Sem_4/README.md