/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 60px;
}

/* HEADER */
#header {
    display: flex;
}

/* re-color */
#header div button {
    color: #E84A5F;
    background-color: #2A363B;
}

/* HEADER: LOGO */
#logo {
    margin: 11px 35px;
}

#logo img {
    height: 80px;
    margin: 5px 10px;
}

/* NAV BAR */
#navbar {
    background-color:rgba(0,0,0,.60);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #2A363B;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}


/* NAV BAR: STYLING */
#navbar ul {
    display: flex;
    font-family: 'arial';
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: #99B898;
    display: block;
    padding: 3px 22px;
    border-radius: 25px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #E84A5F;
    background-color: #2A363B;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background-color: #2A363B;
    height: 590px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#content {
    background-color:#151515;
    padding:2.5rem;
    position:relative;
    z-index:1;
    }

/* BUTTON */
.button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #355C7D;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

/* VIDEO */
#video {
    object-fit: contain;
}
#hero-vid {
    backface-visibility:hidden;
    background-size:cover;
    bottom:0;
    height:auto;
    min-height:100%;
    min-width:100%;
    perspective:1000;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
    }

/* MENU */
#menu {
    display: flex;
    flex-direction: column;
    background-color: #2A363B;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#menu h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#menu p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Clients Section */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.center {
    text-align: center;
}