/*--------------------------------------------------------------
# CSS RESET
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
:root {
    --navbar-height: 60px;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}

#topbar.topbar-scrolled {
    top: -40px;
}

#topbar .contact-info i span {
    font-style: normal;
    color: #d9ba85;
    padding-left: 5px;
    color: #fff;
}

/*--------------------------------------------------------------
# NAV BAR
--------------------------------------------------------------*/
#navbar {
    background-color: rgba(0, 0, 0, .60);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: #2A363B;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.85;
}

/* NAV BAR: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* NAV BAR: Styling */
#navbar ul {
    display: flex;
    font-family: 'arial';
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: #99B898;
    display: block;
    padding: 3px 22px;
    border-radius: 25px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: #E84A5F;
    background-color: #2A363B;
}

/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background-color: #2A363B;
    height: 590px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#content {
    background-color: #151515;
    padding: 2.5rem;
    position: relative;
    z-index: 1;
}

/*--------------------------------------------------------------
# BUTTON
--------------------------------------------------------------*/
.button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #355C7D;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

/*--------------------------------------------------------------
# VIDEO
--------------------------------------------------------------*/
#video {
    object-fit: contain;
}

#hero-vid {
    backface-visibility: hidden;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    perspective: 1000;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -1;
}

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
#menu {
    background-color: #2A363B;
}

#menu table {
    color: white;
}

#menu h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/*--------------------------------------------------------------
# CONTACT US
--------------------------------------------------------------*/
#contact {
    background-color: #6a9ac4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    width: clamp(100px, 90%, 1000px);
    margin: 80px 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
    width: 50%;
    padding: 8% 5% 10% 5%;
}


.contact-links {
    background-color: #1f2e43;
    background:
        radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%),
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%),
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%),
        #1f2e43;
    border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {

    .contact-links,
    .contact-form-wrapper {
        width: 100%;
    }

    .contact-links {
        border-radius: 10px 10px 0 0;
    }

    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 400px) {
    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }
}

h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(30px, 6vw, 60px);
    letter-spacing: 2px;
    text-align: center;
    transform: scale(.95, 1);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.link {
    margin: 10px;
    cursor: pointer;
}

img {
    width: 45px;
    height: 40px;
}

img:hover {
    transform: scale(1.1, 1.1);
}

img:active {
    transform: scale(1.1, 1.1);
    filter:
        hue-rotate(5deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}

.form-item {
    position: relative;
}

label,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
}



.submit-btn {
    background-color: #fd917e;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1, 1.1);
}

.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }

    .links {
        padding-top: 30px;
    }

    img {
        width: 38px;
        height: 38px;
    }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.center {
    text-align: center;
}